<div class="footer-sec">
    <div id="footer" class="container">
        <div class="copyright-text">
            {{ footer.footer_message}}
            <a target="_blank" href="{{ footer.developer_link.href }}">{{ footer.developer_link.title }}</a>
        </div>
        <div class="footer-links social">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/company/builtio" class="linkedin" title="linkedin"
                       target="_blank">
                        <span><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/builtio" class="twitter" title="twitter" target="_blank">
                        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/builtio" class="facebook" title="facebook"
                       target="_blank">
                        <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/raweng" class="github" title="github" target="_blank">
                        <span><i class="fa fa-github" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>